<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    すべての要素が重要というわけではありません。ここで行う必要があるのは、{% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} から指定された要素の前のすべての要素を削除することです。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<p>
    この図では {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} [1, 2, 3, 4, 5] がありますが、3 より手前の要素をすべて取り除く必要があります。すなわち 1 と 2 です。
</p>

<p>
    ここでは 2 つの境界条件があります。
    (1) 取り除く要素が 1 つもない場合は {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} は何も変更されません。
    (2) {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} が空の場合、空のままとしてください。
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}List{% endif %} とボーダーとなる値。
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Iterable (tuple, list, iterator ...){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
