<p>
    Tous les éléments ne sont pas importants. Ce que vous devez faire ici, c'est retirer du {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>list</span>{% endif %} tous les éléments avant celui donné.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<p>
    Pour l'illustration, nous avons {% if is_js %}un <span>tableau</span> <span>(array)</span>{% else %}une <span>liste</span> <span>(list)</span>{% endif %} [1, 2, 3, 4, 5] et nous devons supprimer tous les éléments qui précèdent 3 - c'est-à-dire 1 et 2.
</p>

<p>
	Nous avons ici deux cas de figure: (1) si un élément de coupe ne peut être trouvé, le {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} ne doit pas être modifié. (2) si le {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %} <span>liste</span> <span>(list)</span>{% endif %} est vide, il doit le rester.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> {% if is_js %}<span>Tableau</span> <span>(array)</span>{% else %}<span>Liste</span> <span>(list)</span>{% endif %} et l'élément de bordure.
</p>

<p>
   <strong>Résultat:</strong> {% if is_js %}<span>Tableau</span> <span>(array)</span>{% else %}<span>Liste</span> <span>(list)</span> ou autre <span>Iterable</span> (<span>tuple</span>, <span>iterator</span>, <span>generator</span>){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
