<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Nie wszystkie elementy są ważne. Proszę usunąć z sekwencji wszystkie elementy znajdujące się przed danym elementem.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<p>
    Dla ilustracji mamy sekwencję [1, 2, 3, 4, 5] i musimy usunąć wszystkie elementy, które znajdują się przed <b>3</b> - czyli <b>1</b> i <b>2</b>.
</p>

<p>
	Mamy tu dwa przypadki brzegowe: (1) jeśli nie można znaleźć elementu tnącego, sekwencja nie powinna zostać zmieniona. (2) jeśli sekwencja jest pusta, powinna pozostać pusta.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> {% if is_js %}Array{% else %}List{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> i element obramowania.
</p>

<p>
   <strong>Dane wyjściowe:</strong> {% if is_js %}Array{% else %} List lub inny Iterable (tuple, iterator, generator){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
